<main class="main">
  <h1 class="main__title">Campaign</h1>
  <table class="main__table">
    <thead class="table__head">
      <tr class="table__header table__row">
        <th class="table__cell table__cell--checkbox">
          <input type="checkbox" id="all" />
        </th>
        <th class="table__cell table__cell--id">ID</th>
        <th class="table__cell table__cell--name">名字</th>
        <th class="table__cell table__cell--advertiser">
          <span class="cell__advertiser__line">Advertiser</span>
          <span class="cell__advertiser__line cell__advertiser__line--group">Group</span>
        </th>
        <th class="table__cell table__cell--description">Descripton</th>
        <th class="table__cell table__cell--price">
          <span>Price</span>
          <img class="header__cell__icon header__cell__icon--right"
            src="https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/sort.svg" />
        </th>
        <th class="table__cell table__cell--starttime">
          <span>Start Time</span>
          <img class="header__cell__icon header__cell__icon--right"
            src="https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/sort.svg" />
        </th>
        <th class="table__cell table__cell--endtime">
          <span>End Time</span>
          <img class="header__cell__icon header__cell__icon--right"
            src="https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/sort.svg" />
        </th>
        <th class="table__cell table__cell--action">Action</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <!--   Js Render    -->
    </tbody>
  </table>
</main>